<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantidade de Itens por Caixa</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="page-quantidade">
    <div class="container">
        <div class="form-wrapper">
            <h1>Quantidade de Itens por Caixa</h1>
            <ul>
                {% for caixa, quantidade in contagem_itens.items() %}
                <li>Caixa: {{ caixa }}, Quantidade de Itens: {{ quantidade }}</li>
                {% endfor %}
            </ul>
            <a href="{{ url_for('index') }}" class="btn-primary">Voltar à Página Inicial</a>
        </div>
    </div>
</body>
</html>
